services:
  scraper:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: feedfusion-container
    restart: unless-stopped
    tty: true
    stdin_open: true
    volumes:
      - ~/feedfusion:/app/data